<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="content-page">
  <div class="question-box">
    <div class="question">
      <p style="margin-right: 6px;">{{ question.text }}</p>
      <div>
        <div class="time">{{ questionTime }}</div>
      </div>
    </div>
  </div>

  <div class="answers">
    <div class="ripple" (click)="answerQuestion(answer)" *ngFor="let answer of question.asnwers; let i = index;">
      
      <span class="number">{{ i+1 }}</span>
      <span class="answer">{{ answer.desc }}</span>
    </div>

  </div>

  <div class="info">
    <div>
      <p>ERRAR</p>
      <p>PERDE TUDO</p>
    </div>
    <div>
      <p>PARAR</p>
      <p>R$ 500 MIL</p>
    </div>
    <div>
      <p>ACERTAR</p>
      <p>R$ 1 MILHÃO</p>
    </div>
  </div>


  <div class="stop-container"></div>
</ion-content>

